@import './bootstrap/scss/bootstrap.scss';

.center-horizontal {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}

.start-horizontal {
    @extend .d-flex;
    @extend .justify-content-start;
}

.end-horizontal {
    @extend .d-flex;
    @extend .justify-content-end;
}

.center-vertical {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    flex-direction: column;
}

.start-vertical {
    @extend .d-flex;
    @extend .justify-content-start;
    flex-direction: column;
}

.end-vertical {
    @extend .d-flex;
    @extend .justify-content-end;
    flex-direction: column;
}

.px-6 {
    padding-inline: 6rem;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgba(255,84,0,1);
    --bs-btn-border-color: rgb(255, 120, 53);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(255, 120, 53);
    --bs-btn-hover-border-color: 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(255, 120, 53);
    --bs-btn-active-border-color: 0;
}