@import './bootstrap/scss/bootstrap.scss';

.center-horizontal {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}

.start-horizontal {
    @extend .d-flex;
    @extend .justify-content-start;
}

.end-horizontal {
    @extend .d-flex;
    @extend .justify-content-end;
}

.center-vertical {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    flex-direction: column;
}

.start-vertical {
    @extend .d-flex;
    @extend .justify-content-start;
    flex-direction: column;
}

.end-vertical {
    @extend .d-flex;
    @extend .justify-content-end;
    flex-direction: column;
}

.space-between {
    @extend .d-flex;
    @extend .justify-content-between;
}

.px-6 {
    padding-inline: 6rem;
}

.px-7 {
    padding-inline: 7rem;
}

.ps-6 {
    padding-left: 6rem;
}

.ps-7 {
    padding-left: 7rem;
}

.ps-8 {
    padding-left: 8rem;
}

.pe-6 {
    padding-right: 6rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.mt-custom-2 {
    margin-top: 2rem !important;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgba(255,84,0,1);
    --bs-btn-border-color: rgb(255, 120, 53);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(255, 120, 53);
    --bs-btn-hover-border-color: 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(255, 120, 53);
    --bs-btn-active-border-color: 0;
}