$primary: $blue-800;
$primary-light: $blue-700;
$white: rgb(255, 255, 255);
$border-radius: 0.4rem;
$box-shadow: 1px -19px 45px 5px rgb(181, 180, 180);
$gradient: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(255,84,0,1) 74%);
$gradient-full: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(255,84,0,1) 100%);