$primary: $blue-800;
$primary-light: $blue-700;
$secondary: #ff7b00;
$white: rgb(255, 255, 255);
$border-radius: 0.4rem;
$box-shadow-white: 1px -19px 45px 5px rgb(181, 180, 180);
$box-shadow-black: 0px 0px 17px -1px rgba(0,0,0,0.75);
$box-shadow-primary: 5px 5px 17px -1px rgb(3, 35, 84);
$gradient: linear-gradient(90deg, rgba(255,84,0,1) 0%, rgba(13,110,253,1) 70%);
$gradient-full: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(255,84,0,1) 100%);