@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import './custom';
@import './variables';

:root {
    --bs-primary-rgb: 3, 35, 84;
    --bs-secondary-rgb: 255,84,0;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: $white;
    box-shadow: $box-shadow-black;
    .container-fluid {
        .navbar-brand {
            color: $primary;
            font-weight: 700;
            font-size: 25px;
        }
        .collapse {
            ul {
                li {
                    a {
                        color: $primary;
                    }
                    .active {
                        color: $primary;
                        font-size: 17px;
                        font-weight: 700;
                    }
                }
            }
            form {
                button {
                    font-weight: 500;
                }
            }
        }
    }
}

#home, #demo, #about {
    height: 90vh;
}

#home {
    .home-content {
        h1 {
            white-space: pre-line;
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: clamp(2.5rem, -1.75rem + 12vw, 4rem);
        }
        h2 {
            white-space: pre-line;
            width: 80%;
            line-height: 2rem;
            font-weight: 300;
            font-size: clamp(0.9rem, -1.75rem + 12vw, 1.1rem);
        }
        a {
            border: 0;
            font-weight: 600;
        }
    }
}

#categories {
    padding-block: 5rem;
    h1 {
        background: $gradient-full;
        margin-inline: 10rem;
        border-radius: $border-radius;
        font-weight: 700;
        font-size: 3rem;
    }
    h2 {
        font-weight: 700;
    }
    .row {
        .col {
            @extend .text-primary;
            @extend .center-vertical;
            @extend .p-4;
            border-radius: $border-radius;
            background-color: $white;
            font-weight: 700;
            font-size: 20px;
            margin: 2rem;
            gap: 0.5rem;
            button {
                @extend .mt-3;
                font-weight: 600;
                padding-inline: 2rem;
            }
        }
    }
}

#demo {
    position: relative;
    .demo-content {
        #slideshow {
            .slides {
                
            }
        }
        .text-group {
            h1 {
                font-weight: 700;
            }
            .text-content {
                position: relative;
                padding-top: 2rem;
                height: 60vh;
                border-top-left-radius: 0.6rem;
                border-bottom-left-radius: 0.6rem;
                h6 {
                    white-space: pre-line;
                    line-height: 2rem;
                    width: 70%;
                    #header {
                        font-size: 2rem;
                        font-weight: 800;
                    }
                    #content {
                        border: solid $primary 3px;
                        transform: translateX(-20%);
                    }
                }
                img {
                    position: absolute;
                    right: 1rem;
                    bottom: 0;
                }
            }
        }
    }
}