@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import './custom';

$primary: $blue-800;
$primary-light: $blue-700;
$white: rgb(255, 255, 255);
$border-radius: 0.4rem;
$box-shadow: 1px -19px 45px 5px rgb(181, 180, 180);
$gradient: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(255,84,0,1) 74%);
$gradient-full: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(255,84,0,1) 100%);

:root {
    --bs-primary-rgb: 3, 35, 84;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: $white;
    box-shadow: $box-shadow;
    .container-fluid {
        .navbar-brand {
            color: $primary;
            font-weight: 700;
            font-size: 25px;
        }
        .collapse {
            ul {
                li {
                    a {
                        color: $primary;
                    }
                    .active {
                        color: $primary;
                        font-size: 17px;
                        font-weight: 700;
                    }
                }
            }
            form {
                button {
                    font-weight: 500;
                }
            }
        }
    }
}

#home, #demo, #about {
    height: 90vh;
}

#home {
    
    .home-content {
        h1 {
            white-space: pre-line;
            background: $gradient;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            font-size: clamp(2.5rem, -1.75rem + 12vw, 4rem);
        }
        h2 {
            white-space: pre-line;
            width: 80%;
            line-height: 2rem;
            font-weight: 300;
            font-size: clamp(0.9rem, -1.75rem + 12vw, 1.1rem);
        }
        a {
            border: 0;
            font-weight: 600;
        }
    }
}

#categories {
    h1 {
        background: $gradient-full;
        margin-inline: 10rem;
        border-radius: $border-radius;
        font-weight: 700;
        font-size: 3rem;
    }
    h2 {
        font-weight: 700;
    }
    .row {
        .col {
            @extend .text-primary;
            @extend .center-vertical;
            @extend .p-4;
            border-radius: $border-radius;
            background-color: $white;
            font-weight: 700;
            font-size: 20px;
            margin: 2rem;
            gap: 1rem;
            button {
                @extend .mt-3;
                font-weight: 600;
                padding-inline: 2rem;
            }
        }
    }
}